.MeleeCastImage {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.CastImage {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.CastImage:hover {
	cursor: crosshair;
}

.CharacterBox {
	position: absolute;
	background: rgb(0, 0, 0);
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	border: 1px solid white;
	box-shadow: 0 0.5rem 5rem rgb(0, 0, 0);
}

.ItemContainer > button {
	border: none;
	background-color: black;
	color: aliceblue;
	height: 3rem;
	width: 3rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.202);
}

.ItemContainer > button:hover {
	cursor: pointer;
	font-weight: bold;
	background-color: rgb(40, 40, 40);
}

.ItemContainer {
	display: flex;
}

.ItemContainer > img {
	width: 3rem;
	height: 3rem;
}
.ItemContainer button:disabled {
	text-decoration: line-through;
}

.ItemContainer button:disabled:hover {
	cursor: default;
	background-color: black;
	font-weight: normal;
}

.HiddenDiv {
	background-color: white;
	border: 10px solid rgb(255, 255, 255);
	width: 4.5vw;
	height: 9.25vh;
	position: absolute;
	cursor: crosshair;
}
.HiddenDiv.Falco {
	position: absolute;
	top: 35.5vh;
	left: 28.5vw;
	background-color: rgba(255, 0, 0, 0);
}

.HiddenDiv.Marth {
	background-color: rgba(0, 0, 255, 0);
	top: 45.5%;
	left: 57.25%;
}

.HiddenDiv.Peach {
	background-color: rgba(255, 192, 203, 0);
	top: 25.5%;
}
