.MeleeCastImage {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.CastImage {
	border-left: 1px solid white;
	border-right: 1px solid white;
}

.CastImage:hover {
	cursor: crosshair;
}
